:root{
    --ff-sans: 'Poppins', sans-serif;
    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;

    --fs-400: 0.0975rem;
    --fs-500: 1.25rem;
    --fs-600: 1.625rem;
    --fs-900: 2.5rem;

    --color-neutral-100: hsl(0, 0%, 100%);
    --color-neutral-200: hsl(212, 6%, 44%); 
    --color-neutral-300: hsl(234, 12%, 34%);

    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);   
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    font-family: var(--ff-sans);
    font-weight: var(--fs-400);
    line-height: 1.7;
    color: var(--color-neutral-200);
}

body{
    margin: 0;
}

h1,
h2,
h3{
    line-height: 1.1;
    color: var(--color-neutral-300);
}

.wrapper{
    max-width: 1100px;
    margin-inline: auto;
}

.wrapper--narrow{
    max-width: 550px;
}
header{
    text-align: center;
    margin-block: 6rem;
}
.layout-grid{
    --gap: 2rem;
    display: flex;
    gap: var(--gap);
}
.layout-grid > *{
    flex: 1;
}
.col{
    display: grid;
    gap: var(--gap);
    align-content: center;
}
.card{
    padding: 2rem;
    background: #dfc7c7;
}